# .gitignore

# Subdirectories
.ipynb_checkpoints/
outputs*
opt_adapt.egg-info/
__pycache__/

# Specific files
.coverage

# File extensions
*.h5
*.jpeg
*.jpg
*.log
*.msh
*.npy
*.pdf
*.png
*.pvd
*.vtu
